body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
}
.currentConditons {
	text-transform: uppercase;
}

.panel {
	display: flex;
	margin: 10px;
	background-color: cyan;
	width: 100%;
	text-align: center;
}

.inner {
	align-self: center;
	margin: auto;
}

.city {
	font-size: 38px;
	line-height: 52px;
	font-weight: bold;
	margin: 0;
}

.temp {
	font-size: 48px;
	margin: 0;
}

.description {
	text-transform:capitalize;
	font-size: 32px;
	margin: 0;
}

.show {
	display: block;
}

.hide {
	display: none;
}